@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// color
$black: black;
$yellow: #fcf944;
$blue: #3e88ff;
$green: #31be32;
$plum: #ff97d0;
$white: white;

// transition
$transition-1: 0.25s ease;
$transition-2: 1s ease;

// font
$font-spacing: 0.1rem;
$font-title-base: 1.7rem;
$font-title-md: 2rem;
$font-title-lg: 3rem;
$font-title-xl: 4rem;
$font-subtitle-base: 0.8rem;
$font-subtitle-md: 1.25rem;
$font-subtitle-lg: 1.6rem;
$font-subtitle-xl: 2rem;

// layout
$container-width: 1190px;
$padding-left: clamp(2rem, 7vw, 5rem);
$padding-right: clamp(2rem, 7vw, 5rem);

*, *::before, *::after {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.donate-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: $white;
  border: 3px solid $black;
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1000;
  
  @media (min-width: 768px) {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }

  @media (min-width: 1284px) {
    font-size: 2rem;
  }
}

// HERO SECTION
.hero-section {
  background: $yellow;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-row {
      display: flex;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;

      img.dog-icon {
        width: 100px;

         @media (min-width: 768px) {
          width: 100px;
        }

        @media (min-width: 1024px) {
          width: 150px;
        }

        @media (min-width: 1284px) {
          width: 200px;
        }
      }

      .heading-text {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        width: 150px;
        line-height: 1em;
        letter-spacing: $font-spacing;        
        
        @media (min-width: 768px) {
          font-size: 2.4rem;
          width: 300px;
        }

        @media (min-width: 1024px) {
          font-size: 2rem;
        }

        @media (min-width: 1284px) {
          font-size: 4.1rem;
        }
      }
    }

    .bottom-row {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .subtitle {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        letter-spacing: $font-spacing;

        @media (min-width: 768px) {
          font-size: 1.5rem;
        }

        @media (min-width: 1024px) {
          font-size: 2rem;
        }

        @media (min-width: 1284px) {
          font-size: 3rem;
        }
      }

      .social-icons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        a {
          width: 34px;
          height: 34px;
          transition: transform 0.3s;

          &:hover {
            transform: scale(0.8);
          }

          img {
            width: 100%;
            height: auto;
          }

          @media (min-width: 768px) {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
  }
}

// MISSION SECTION
.mission-section {
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2rem;
  padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 1284px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
  }

  .identity-title, .goal-title {
    font-size: $font-title-base;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-title-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-title-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-title-xl;
    }
  }

  .identity-desc, .goal-desc {
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.4rem;

    @media (min-width: 768px) {
      font-size: 1.3rem;
      line-height: 1.6rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    @media (min-width: 1284px) {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }

  .goals {
    margin-top: 1rem;
  }

  .line-wrapper {
    padding: 1rem 1rem;
    
    @media (min-width: 768px) {
      padding: 1.5rem 3rem;
    }

    @media (min-width: 1024px) {
      padding: 2rem 5rem;
    }
    
    .line {
      border-left: 3px solid #ff97d0;
      padding: 0.5rem 0.5rem;

      @media (min-width: 768px) {
        padding: 1.2rem 1rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
      }

      @media (min-width: 1024px) {
        padding: 1.4rem 1rem;
        font-size: 1.6rem;
        line-height: 2rem;
      }

      @media (min-width: 1284px) {
        padding: 2rem 1rem;
        font-size: 2.4rem;
        line-height: 3.4rem;
      }
    }
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 32px;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

}

// OUR POJECTS SECTION
.project-section {
  background-color: $blue;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2rem;
  padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 1284px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
  }

  .section-title {
    font-size: $font-title-base;
    color: $white;
    margin-bottom: 0.5rem;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-title-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-title-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-title-xl;
    }
  }

  .section-desc {
    color: $white;
    font-size: $font-subtitle-base;
    margin-bottom: 3rem;
    color: $white;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-subtitle-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-subtitle-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-subtitle-xl;
    }
  }
}

.project-card {
  max-width: 100%;
  margin: 2rem auto;
  padding: 1.8rem 2.7rem;
  border: 2px solid white;
  text-align: left;

  @media (min-width: 768px) {
    padding: 3.5rem 3.5rem;
  }

  .card-title {
    font-size: 1.4rem;

      @media (min-width: 768px) {
        font-size: 1.8rem;
      }

      @media (min-width: 1024px) {
        font-size: 2rem;
      }

      @media (min-width: 1284px) {
        font-size: 2.8rem;
      }
  }

  .card-desc {
    font-size: 0.9rem;
    margin-top: 0.7rem;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.3rem;
    }

    @media (min-width: 1284px) {
      font-size: 1.9rem;
    }
  }

  &.black {
    background-color: $black;
    color: $white;
  }

  &.green {
    background-color: $green;
    color: $white;
  }

  &.pink {
    background-color: $plum;
    color: $white;
  }
}

// HELPING SECTION
.helping-section {
  background-color: $yellow;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 1284px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
  }

  .helping-title {
    font-size: $font-title-base;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-title-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-title-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-title-xl;
    }
  }

  .helping-desc {
    font-size: $font-subtitle-base;
    margin-bottom: 3rem;
    color: $black;

    @media (min-width: 768px) {
      font-size: $font-subtitle-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-subtitle-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-subtitle-xl;
    }
  }

  .helping-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
    }
  }

  .helping-card {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    padding: 1.3rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;

    @media (min-width: 768px) {
      padding: 1.9rem;
      font-size: 1.3rem;
    }
  }

  .helping-button-wrapper {
    margin-top: 2rem;

    @media (min-width: 768px) {
      margin-top: 5rem;
    }
  }

  .helping-button {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: $plum;
    color: $black;
    border: 3px solid black;
    cursor: pointer;

    @media (min-width: 768px) {
      padding: 1rem 2rem;
      font-size: 1rem;
    }

    @media (min-width: 1024px) {
      padding: 0.4rem 2rem;
      font-size: 1.8rem;
    }
  }

  .arrow-icon {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    transform: rotate(180deg);

    @media (min-width: 768px) {
      width: 2rem;
      height: 2rem;
    }

    @media (min-width: 1024px) {
      width: 3rem;
      height: 3rem;
    }
  }
}

// OUR TEAMS SECTION
.team-section {
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2rem;
  padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 1284px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
  }

  .team-title {
    font-size: $font-title-base;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-title-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-title-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-title-xl;
    }
  }

  .team-desc {
    font-size: $font-subtitle-base;
    margin-bottom: 3rem;
    color: $black;

    @media (min-width: 768px) {
      font-size: $font-subtitle-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-subtitle-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-subtitle-xl;
    }
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

    @media (min-width: 1284px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .team-card {
    background-color: #fff933;
    padding: 0.9rem;
    border: 3px solid black;
    text-align: center;

    @media (min-width: 768px) {
      padding: 1.8rem;
    }

    .photo {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      filter: grayscale(100%);
      margin-bottom: 1rem;
    }

    .team-name {
      font-size: 0.8rem;
      font-weight: 200;
      margin-bottom: 0.5rem;

      @media (min-width: 768px) {
        font-size: 1.2rem;
      }

      @media (min-width: 1024px) {
        font-size: 1rem;
      }

      @media (min-width: 1284px) {
        font-size: 1.5rem;
      }
    }

    .team-role {
      font-size: 0.8rem;

      @media (min-width: 768px) {
        font-size: 1rem;
      }

      @media (min-width: 1024px) {
        font-size: 0.9rem;
      }

      @media (min-width: 1284px) {
        font-size: 1.2rem;
      }
    }
  }
}

// SUPPORTERS SECTION
.supporters-section {
  background-color: $plum;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2rem;
  padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 1284px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
  }

  .supporters-title {
    font-size: $font-title-base;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-title-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-title-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-title-xl;
    }
  }

  .supporters-desc {
    font-size: $font-subtitle-base;
    margin-bottom: 3rem;
    color: $black;

    @media (min-width: 768px) {
      font-size: $font-subtitle-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-subtitle-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-subtitle-xl;
    }
  }

  .supporters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

    @media (min-width: 1284px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .supporter-card {
    text-align: center;

    .supporter-image {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      filter: grayscale(100%);
    }

    .supporter-name {
      font-size: 0.9rem;
      margin: 0.6rem 0;

      @media (min-width: 768px) {
        font-size: 1.2rem;
      }

      @media (min-width: 1284px) {
        font-size: 1.5rem;
      }
    }

    .supporter-role {
      font-size: 0.7rem;

      @media (min-width: 768px) {
        font-size: 1rem;
      }

       @media (min-width: 1284px) {
        font-size: 1.2rem;
      }
    }
  }
}

// OUR PARTNERS SECTION
.partner-section {
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: 2rem;
  padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 1284px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

  .container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
  }

  .title {
    font-size: $font-title-base;
    font-weight: bold;
    margin-bottom: 0.5rem;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-title-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-title-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-title-xl;
    }
  }

  .subtitle {
    font-size: $font-subtitle-base;
    margin-bottom: 3rem;
    color: $black;
    letter-spacing: $font-spacing;

    @media (min-width: 768px) {
      font-size: $font-subtitle-md;
    }

    @media (min-width: 1024px) {
      font-size: $font-subtitle-lg;
    }

    @media (min-width: 1284px) {
      font-size: $font-subtitle-xl;
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    @media (min-width: 1024px) {
      justify-content: start;
      gap: 3.5rem;
    }

    .logo {
      height: 53px;
      width: 135px;
      object-fit: contain;
      object-position: center;
      display: block;
      filter: grayscale(100%);

      @media (min-width: 768px) {
        height: 60px;
        width: 180px;
      }

      @media (min-width: 1024px) {
        height: 70px;
        width: 200px;
      }

      @media (min-width: 1284px) {
        height: 80px;
        width: 240px;
      }
    }
  }
}
